@page
@model Reconcillations.Pages.Account.forgot_passwordModel
@{ Layout = null;
    ViewData["Title"] = "Password Reset";
}
<link rel="stylesheet" href="~/smile/assets/plugins/sweet-alert/sweetalert.min.css">


<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
<!-- icons -->
<link href="~/smile/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/smile/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert item CSS -->
<link rel="stylesheet" href="~/smile/assets/plugins/sweet-alert/sweetalert.min.css">
<!-- bootstrap -->
<link href="~/smile/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- style -->
<link rel="stylesheet" href="~/smile/assets/css/pages/extra_pages.css">
<!-- favicon -->
<link rel="shortcut icon" href="~/smile/assets/img/favicon.ico" />

<div class="form-title">
    <h1>Login Form</h1>
</div>
<!-- Login Form-->
<div class="login-form text-center">
    <div class="toggle">
        <i class="fa fa-user-plus"></i>
    </div>
    <div class="form formReset">
        <h2>Reset your password?</h2>
        <form method="post">
            <input type="email" placeholder="User ID / Email Address" autocomplete="off" asp-for="_fpas.Email" />
            <button>Send Verification Email</button>
        </form>
    </div>
</div>
<!-- start js include path -->
<script src="~/smile/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/smile/assets/js/pages/extra_pages/pages.js"></script>
<!-- end js include path -->
