<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Registration Email</title>
</head>

<body>
    <table style="max-width:600px;background:#fff;font-family:Arial,Helvetica,sans-serif;table-layout:fixed;margin:0 auto;border:1px solid #ccc" cellspacing="0" cellpadding="0" width="100%" align="center">

        <tbody>
            <tr>
                <!--<td>&nbsp;</td>-->
                <td align="left" valign="top">
                    <img src="~/images/Ireconcile.png" asp-append-version="true" width="600" height="13" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td>
                    <table style="max-width:550px;border-top:4px solid rgb(29,144,146);background-color:rgb(255,255,255);border-bottom:4px solid rgb(189,195,199);border-radius:2px 2px 8px 8px" cellspacing="0" cellpadding="0" border="0" width="530" height="79" align="center">

                        <tbody>
                            <tr>
                                <td style="padding:20px;font-weight:bold;font-size:28px;text-align:center">Congratulations!!! </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="max-width:550px;border-radius:5px;border-bottom:4px solid rgb(189,195,199);background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0" border="0" width="528" height="300" align="center">

                        <tbody>
                            <tr>
                                <td style="padding: 25px; padding-bottom: 10px; text-align: left; font-weight: bold; font-size: 19px; color: #3b3b3b">
                                    You are registered
                                    <br /> <p></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 25px; padding-bottom: 10px; text-align: left; font-size: 20px; color: #3b3b3b">Dear {2},</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="color: #1d9092; font-weight: bold; text-align: center; font-size: 25px; line-height: 1px">__</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px; text-align: left; line-height: 22px; font-size: 14px;  color: #4f595b; padding: 15px">
                                    Your registration for IReconcile Solution is sucessfull. <br /><p>
                                    <p>
                                        We're simply verifying ownership of this email address. <br />
                                    <p>
                                    <p>
                                        All you need to do is click the button below (it only takes a few seconds).

                                </td>
                            </tr>
                            <tr>
                                <td style="color: #1d9092; font-weight: bold; text-align: center; font-size: 25px; line-height: 1px">__</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding: 25px; text-align: center">
                                    <a href="{6}">
                                        <strong style="text-decoration: none; font-size: 22px; font-weight: bold; color: #fff; outline: none"><span style="padding-bottom: 20px; padding-top: 20px; padding-left: 40px; padding-right: 40px; display: inline-block; background-color: #1d9092; border-radius: 50px"> Confirm Email </span></strong>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 13px; text-align: left; line-height: 22px; color: #4f595b; padding: 15px">&nbsp;NB: Our notification service sent this mail to you using a default setting and the email you supplied to us when registering.</td>
            </tr>
            <tr>
                <td style="font-size: 12px; padding: 15px; color: #8b8b8b" align="center">
                    <script language="javascript">
                        today = new Date();
                        y0 = today.getFullYear();
                    </script>
                    Copyright &copy; 2007-
                    <script language="javascript">
                        document.write(y0);</script>
                    All Rights Reserved &reg; | <a href="https://www.icmaservices.com">ICMA Professional Services</a>
                </td>
            </tr>

        </tbody>
    </table>




</body>
</html>
